* {
    box-sizing: border-box;
}
html,
body {
	height: 100%;
}
body {
    font-size: 14px;
    font-weight: 400;
    background-color: #000;
}
a {
    text-decoration: none;
}
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.wrapper {
	display: flex;
	flex-direction: column;
    min-height: 100%;
    position: relative;

    @media (max-width: 425px) {
        background-image: url(../img/bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
.background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    position: absolute;
    right: 0;
    top: 0;
    width: 130%;
    height: 100%;

    @media (max-width: 425px) {
        display: none;
    }
}
.page {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input::-ms-clear { 
    display: none; 
}

input {
    &:focus {
        &::placeholder {
            font-size: 0;
        }
    }
}

.slide {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    position: relative;

    &_1 {
    }

    // .slide__wrapper

    &__wrapper {
        height: 100%;
    }
  
    // .slide__images
  
    &__images {
    }
  
    // .slide__text
  
    &__text {
    }

    @media (max-width: 425px) {
        height: 75vh;
    }
  }
  .images-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    img {
      display: block;
      max-width: 100%;
    }

    @media (max-width: 2560px) and (min-height: 1439px) {
        height: 80%;
        transform: translate(0, 15%);
    }
    // .images-slide__pic
  
    &__pic {
      position: absolute;
      // .images-slide__pic_1
  
      &_1 {
        
      }
  
      // .images-slide__pic_2
  
      &_2 {
  
      }
  
      // .images-slide__pic_3
  
      &_3 {
  
      }
    }
  }
  .text-slide {
    z-index: 4;
    text-transform: uppercase;
    // .text-slide__line
  
    &__line {
  
      // .text-slide__line_1
  
      &_1 {
      }
  
      // .text-slide__line_2
  
      &_2 {
      }
  
      // .text-slide__line_3
  
      &_3 {
      }
    }
  }

.swiper-pagination-progressbar-fill {
    background: #0A9F30 !important;
}
.swiper-pagination__wrapper {

    @media (max-width: 768px) {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(10px);
        opacity: 0;
        pointer-events: none;
        transition: all .4s ease;

        &.active {
            opacity: 1;
            pointer-events: all;
        }
    }
}
.swiper-pagination {
    position: absolute;
    top: 40%;
    left: 28px !important;
    width: auto !important;
    margin-left: 13px;
    height: 200px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &::before {
        content: '';
        position: absolute;
        right: calc(100% + 8px);
        top: 0;
        height: 100%;
        width: 1px;
        background: linear-gradient(180deg, rgba(10, 159, 48, 0) 0%, #0A9F30 57.91%, rgba(10, 159, 48, 0) 100%);

        @media (max-width: 768px) {
            right: calc(100% + 18px);
        }
    }
    animation: pagination 8s ease forwards;

    @media (max-width: 1600px) {
        top: 12%;
    }
    @media (max-width: 1366px) {
        top: 8.5%;
    }
    @media (max-width: 768px) {
        top: 50% !important;
        left: 50% !important;
        z-index: 11;
        transform: translate(-60%,-70%) !important;
        height: auto !important;
        margin-left: 21px;
    }
}

@keyframes pagination {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.swiper-pagination-bullet {
    text-transform: uppercase;
    color: #fff;
    display: block;
    width: auto;
    padding: 0 10px;
    background-color: transparent;
    height: 31px;
    opacity: 0.4;
    outline: transparent;
    font-size: 13px;
    line-height: 250.5%;
    font-family: "Gilroy-Black", sans-serif;
    font-style: italic;
    border-radius: 0%;
    position: relative;
    transition: all .6s ease;
    text-align: left;
    &::before {
        content: '';
        width: 10px;
        height: 1px;
        background-color: #0A9F30;
        top: 50%;
        right: 100%;
        position: absolute;
        opacity: 0;

        @media (max-width: 768px) {
            width: 19px;
        }
    }

    @media (max-width: 768px) {
        font-size: 32.1739px;
        line-height: 166.5%;
        height: 50px;
        opacity: 1;
    }
    @media (max-width: 640px) {
        font-size: 26.1739px;
        height: 40px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @media (max-width: 530px) {
        font-size: 20.292px;
        height: 34px;
        min-width: 210px;
    }
}
.swiper-pagination-bullet-active {
    color: #4EF200;
    font-size: 20px;
    line-height: 166.5%;
    border: 1px solid #0A9F30;
    opacity: 1;
    &::before {
        opacity: 1;
    }
}
