.slide {

  // .slide__wrapper

  &__wrapper {
  }

  // .slide__tabs

  &__tabs {
    @media (max-width: 1600px) {
      transform: translateY(-5%);
    }
  }

  // .slide__title

  &__title {
    font-size: 30px;
    line-height: 100%;
    text-transform: uppercase;
    color: #fff;
    font-family: "Gilroy-Heavy", sans-serif;
    margin-right: auto;
    margin-bottom: 15px;

    @media (max-width: 1600px) {
      font-size: 24px;
    }

    @media (max-width: 1366px) {
      font-size: 18px;
    }
  }
}
.slide-six {
  .slide__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.tabs {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 1600px) {
    max-width: 1100px;
  }
  @media (max-width: 1440px) {
    max-width: 900px;
  }
  @media (max-width: 1280px) {
    max-width: 800px;
  }
  @media (max-width: 1024px) {
    max-width: 700px;
    margin: 0 2% 0 auto;
  }
  // .tabs__item

  &__item {
    &.active {
      .tabs__trigger {
        color: #fff;
        background-color: #0A9F30;
        &::before {
          display: none;
        }
        &::after {
          display: block;
        }
      }
      .tabs__content {
        display: block;
      }
    }
    // .tabs__item_1

    &_1 {
    }

    // .tabs__item_2

    &_2 {
    }

    // .tabs__item_3

    &_3 {
      .tabs__list-link {
        display: block;
      }
    }

    // .tabs__item_4

    &_4 {
    }
  }

  // .tabs__trigger

  &__trigger {
    height: 53px;
    color: #4EF200;
    text-transform: uppercase;
    font-style: italic;
    font-size: 20px;
    line-height: 100%;
    font-family: "Gilroy-Heavy", sans-serif;
    border: 1px solid #0A9F30;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    padding-left: 32px;
    position: relative;
    cursor: pointer;
    &::before,
    &::after {
      content: '';
      position: absolute;
      color: #fff;
      font-size: 24px;
      line-height: 100%;
      font-family: "Gilroy-Heavy", sans-serif;
      font-style: normal;
    }
    &::before {
      content: '+';
      right: 33px;
      top: 18px;
    }
    &::after {
      content: '-';
      right: 35px;
      top: 16px;
      display: none;
    }

    @media (max-width: 1366px) {
      height: 43px;
      font-size: 16px;

      &::before {
        top: 10px;
      }
      &::after {
        top: 8px;
      }
    }
  }

  // .tabs__content

  &__content {
    display: none;
    background-color: #fff;
    height: 420px;
    padding: 30px 0;
    overflow: hidden;
    font-size: 16px;
    line-height: 19px;
    font-family: "Roboto-Regular", sans-serif;

    @media (max-width: 1600px) {
      height: 300px;
    }

  }

  // .tabs__content-wrapper

  &__content-wrapper {
    overflow-y: auto;
    height: 100%;
    padding: 0 56px;
    margin-right: 15px;
    scrollbar-width: thin;
    scrollbar-color: #129A48 #C4C4C4;
    &::-webkit-scrollbar {
      background-color: #C4C4C4;
      width: 3px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #129A48;
    }
  }

  // .tabs__title

  &__title {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 25px;
    font-family: "Roboto-Bold", sans-serif;
  }

  // .tabs__list

  &__list {
    margin-bottom: 25px;

    // .tabs__list_num

    &_num {

    }

    // .tabs__list_no-margin

    &_no-margin {
    }
  }

  // .tabs__list-item

  &__list-item {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  // .tabs__list-num

  &__list-num {
    width: 28px;
    height: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    font-family: "Gilroy-Heavy", sans-serif;
    background-color: #0A9F30;
    transform: skew(-10deg);
    padding-top: 2px;
    margin-right: 10px;
  }

  // .tabs__list-link

  &__list-link {
    color: #0A9F30;
    text-decoration: underline;
  }

  // .tabs__list-bold

  &__list-bold {
    font-family: "Roboto-Bold", sans-serif;
  }

  // .tabs__list-grey

  &__list-grey {
    color: #5F5F5F;
    display: block;
    font-style: italic;
    margin-bottom: 15px;
    p {
      margin: 0;
    }
  }
}


.btns {
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 100px;
  z-index: 100;
}