.slide-three {
  .slide__wrapper {
    display: flex;
    align-items: center;
    max-width: 1560px;
    margin: 0 auto;
    padding: 0 150px;
    position: relative;

    @media (max-width: 1600px) {
      max-width: 1240px;
    }
    @media (max-width: 1366px) {
      max-width: 1025px;
      padding: 0 80px;
    }
    @media (max-width: 768px) {
      align-items: flex-start;
      justify-content: center;
      padding: 17% 80px;
    }
    @media (max-width: 640px) {
      padding: 20% 40px;
    }
    @media (max-width: 425px) {
      padding: 10% 30px;
    }
  }
  .images-slide {
    .images-slide__pic_1 {
      max-width: 830px;
      width: 100%;
      top: 0;
      right: 0;
      z-index: 2;

      @media (max-width: 1600px) {
        max-width: 630px;
        top: 10%;
      }
      @media (max-width: 1366px) {
        top: 0;
        right: -10%;
      }
      @media (max-width: 1024px) {
        right: -10%;
      }
      @media (max-width: 1024px) and (min-height: 1365px) {
        top: 25%;
      }
      @media (max-width: 800px) {
        top: 15%;
        right: -15%;
      }
      @media (max-width: 768px) {
        max-width: 490px;
        top: 32%;
        right: 15%;
      }
      @media (max-width: 640px) {
        right: 8%;
      }
      @media (max-width: 425px) {
        max-width: 360px;
        right: 4%;
      }
      @media (max-width: 360px) {
        right: 0;
        top: 25%;
      }
      @media (max-width: 320px) {
        max-width: 300px;
        top: 30%;
      }
    }
    .images-slide__pic_2 {
      max-width: 1140px;
      width: 100%;
      right: -6%;
      top: 3%;
      z-index: 1;

      @media (max-width: 1600px) {
        max-width: 940px;
        top: 5%;
        right: -15%;
      }
      @media (max-width: 1366px) {
        max-width: 796px;
        top: 10%;
      }
      @media (max-width: 1024px) {
        right: -10%;
      }
      @media (max-width: 1024px) and (min-height: 1365px) {
        top: 25%;
        right: -10%;
      }
      @media (max-width: 800px) {
        top: 20%;
        right: -30%;
      }
      @media (max-width: 768px) {
        max-width: 621px;
        top: 35%;
        right: 10%;
      }
      @media (max-width: 640px) {
        right: 0;
      }
      @media (max-width: 425px) {
        right: -3%;
      }
      @media (max-width: 320px) {
        max-width: 340px;
      }
    }
  }
  .slide__text {
    color: #fff;
    font-family: "Gilroy-Heavy", sans-serif;
    transform: skew(-10deg);
    margin-right: 76px;
    p {
      margin: 0;
    }

    @media (max-width: 768px) {
      margin-right: 0;
    }

    .text-slide__line_1 {
      font-size: 54.8723px;
      line-height: 100%;

      @media (max-width: 1600px) {
        font-size: 44.8723px;
      }
      @media (max-width: 1366px) {
        font-size: 31.9528px;
      }
      @media (max-width: 768px) {
        font-size: 47.0627px;
      }
      @media (max-width: 425px) {
        font-size: 24.1272px;
      }
    }
    .text-slide__line_2 {
      font-size: 194.95px;
      line-height: 100%;
      color: #4EF200;
      text-shadow: 0px 0px 277.067px #00FF41, 0px 0px 62.5635px #0CFC4F;
      position: relative;
      margin-left: -5px;

      span {
        position: absolute;
        top: 15%;
        font-size: 125.29px;
        line-height: 100%;

        @media (max-width: 1600px) {
          font-size: 105.29px;
        }
        @media (max-width: 1366px) {
          font-size: 72.9578px;
        }
        @media (max-width: 768px) {
          font-size: 107.458px;
        }
        @media (max-width: 425px) {
          font-size: 55.0897px;
        }
      }

      @media (max-width: 1600px) {
        font-size: 144.95px;
      }
      @media (max-width: 1366px) {
        font-size: 113.521px;
      }
      @media (max-width: 768px) {
        font-size: 167.204px;
      }
      @media (max-width: 425px) {
        font-size: 85.719px;
      }
    }
    .text-slide__line_3 {
      font-size: 38.5258px;
      line-height: 100%;

      @media (max-width: 1366px) {
        font-size: 28.2571px;
      }
      @media (max-width: 768px) {
        font-size: 41.6195px;
        margin-top: -5%;
      }
      @media (max-width: 425px) {
        font-size: 21.3367px;
      }
    }
  }
}